{% extends "base.html" %}
{% set active_page = "about" %}

{% block title %}
    {{ _('About') }} - FP Central
{% endblock %}

{% block content %}

    <div class="row">
        <h1 data-step="2"
            data-intro="Thank you for taking the complete tour of Fingerprint Central! Now, since you know how to use the site to its fullest
             potential, why not go on the 'My fingerprint' page to see how your very own browser fingerprint compares with other ones?">
            {{ _('About') }}
        </h1>
        <div data-intro="You can find here more information on Fingerprint Central and on the Tor project with some helpful links.
            Do not hesitate to contribute to the website, all the code is on GitHub!" data-steo="1">
            <h2>{{ _('Who is behind this project?') }}</h2>
            <h4>
            <strong>Fingerprint Central</strong> {{ _('is developed by') }}
            <a href="https://github.com/plaperdr" target="_blank">Pierre Laperdrix <i class="fa fa-external-link" aria-hidden="true"></i></a>
            {{ _('for the Tor project as part of the Google Summer of Code 2016 .
            You can find the complete source code and contribute to it on GitHub.') }}
            </h4>
            <h2>{{ _('Links') }}</h2>
            <div class="col-sm-4 col-md-4 text-center">
                <div class="thumbnail">
                    <img src="static/images/tor-logo.png" class="img-responsive" style="width: 80%">
                    <div class="caption">
                        <h3>Tor project</h3>
                        <br>
                        <p>
                            <a href="https://www.torproject.org/" class="btn btn-primary" role="button">
                                <i class="fa fa-external-link" aria-hidden="true"></i>
                                &nbsp;{{ _('Official website') }}
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-4 text-center">
                <div class="thumbnail">
                    <img src="static/images/gsoc-logo.png" class="img-responsive" style="width: 80%">
                    <div class="caption">
                        <h3>Google Summer of Code</h3>
                        <br>
                        <p>
                            <a href="https://summerofcode.withgoogle.com/" class="btn btn-primary" role="button">
                                <i class="fa fa-google" aria-hidden="true"></i>
                                &nbsp;{{ _('Official website') }}
                            </a>
                            <br><br>
                            <a href="https://summerofcode.withgoogle.com/archive/2016/projects/5915605559410688/" class="btn btn-primary" role="button">
                                <i class="fa fa-external-link" aria-hidden="true"></i>
                                &nbsp;{{ _('Link to project') }}
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-4 text-center">
                <div class="thumbnail">
                    <img src="static/images/fpc-logo-cut.png" class="img-responsive" style="width: 100%">
                    <div class="caption">
                        <h3>{{ _('Fingerprint Central <br> source code') }}</h3>
                        <br>
                        <p>
                            <a href="https://github.com/plaperdr/fp-central" class="btn btn-primary" role="button">
                                <i class="fa fa-github-alt" aria-hidden="true"></i>
                                &nbsp;{{ _('View on GitHub') }}
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- IntroJS tour instructions -->
    <script type="text/javascript">
        if (window.location.search.indexOf("multipage") > -1) {
            introJs().setOption('doneLabel', 'See my own fingerprint NOW!').start().oncomplete(function() {
                window.location.href = '/fp';
            });
        }
    </script>

{% endblock %}