{% extends "base.html" %}
{% set active_page = "faq" %}

{% block title %}
    {{ _('FAQ') }} - FP Central
{% endblock %}

{% block content %}
    <h1>{{ _('What is the current list of collected attributes?') }}</h1>
    <table class="table table-striped table-hover " xmlns="http://www.w3.org/1999/html">
        <thead>
            <tr>
                <th>#</th>
                <th>{{ _('Name') }}</th>
                <th>{{ _('Description') }}</th>
                <th>{{ _('URL') }}</th>
            </tr>
        </thead>
        <tbody>
            {% set count = 1 %}
            {% for def in definitions %}
            <tr>
                <td>{{ count }}</td>
                <td>{{ def.name }}</td>
                <td>{{ def.description }}</td>
                <td>
                    {%  if def.URL is defined %}
                    <a href="{{ def.URL }}" target="_blank"><i class="fa fa-external-link" aria-hidden="true"></i></a>
                    {% endif %}
                </td>
            </tr>
            {% set count = count + 1 %}
            {% endfor %}
        </tbody>
    </table>



{% endblock %}