{% extends "base.html" %}
{% set active_page = "faq" %}

{% block title %}
    {{ _('FAQ') }} - FP Central
{% endblock %}

{% block content %}
    <h1 data-intro="On this page, you can find additional information on Fingerprint Central)." data-step="1">FAQ</h1>
    <h2>{{ _('What is the current list of collected attributes?') }}</h2>
    <table class="table table-striped table-hover " xmlns="http://www.w3.org/1999/html"
        data-intro="Here is the complete list of attributes that are collected when you visit the 'My fingerprint' page. This table is
         autmoatically updated when a new attribute is added to the test suite. If you need additional information, do not hesitate to
         click on the given URLs as they will explain to you in greater details the use of some attributes.">
        <thead>
            <tr>
                <th>#</th>
                <th>{{ _('Name') }}</th>
                <th>{{ _('Description') }}</th>
                <th>{{ _('URL') }}</th>
            </tr>
        </thead>
        <tbody>
            {% set count = 1 %}
            {% for def in definitions %}
            <tr>
                <td>{{ count }}</td>
                <td>{{ def.name }}</td>
                <td>{{ def.description }}</td>
                <td>
                    {%  if def.URL is defined %}
                    <a href="{{ def.URL }}" target="_blank"><i class="fa fa-external-link" aria-hidden="true"></i></a>
                    {% endif %}
                </td>
            </tr>
            {% set count = count + 1 %}
            {% endfor %}
        </tbody>
    </table>

    <!-- IntroJS tour instructions -->
    <script type="text/javascript">
        if (window.location.search.indexOf("multipage") > -1) {
            introJs().setOption('doneLabel', 'Continue the tour').start().oncomplete(function() {
                window.location.href = '/about?multipage';
            });
        }
    </script>



{% endblock %}