{% extends "base.html" %}
{% set active_page = "globalStats" %}

{% block title %}
    Global statistics - FP Central
{% endblock %}

{% block content %}
    <h1 data-intro="Here is the 'Global statistics' page. It gives you an overview on the visits on FP Central."
        data-step="1">{{ _('Global statistics') }}</h1>
    <div>
        {{ _('Lifetime') }}: {{ totalFP }} {{ _('fingerprints') }}
        <br>
        {{ _('Past 90 days') }}: {{ epochFP }} {{ _('fingerprints') }}
   </div>

    <br>
    <div id="daily" style="width:100%; height:500px;" data-step="2"
        data-intro="This graph indicates the number of collected fingerprints since the launch of the website. Like the other graphs present
        on this website, it is interactive so you can get extra details by positioning your mouse on specific points of interest.
        If you are interested, you can also print or download a copy of any graph by clicking on the <i class='fa fa-bars'></i> icon that is present on the
        top right."></div>
    <br>
    <div id="lang" style="width:100%; height:500px;" data-step="3"
        data-intro="This pie chart gives a global sense of the geographic distribution of visitors even if we do not analyse or collect
        IP addresses. Each browser sends its preferred language in a header called 'Accept-Language' and this chart illustrates the most
        popular ones."></div>

    <script type="text/javascript">

        //Daily graph
        var dailyFP = {{ dailyFP|safe }};
        var dailyData = [];
        for(var i=0; i<dailyFP.length; i++){
            var d = dailyFP[i]._id;
            dailyData.push([Date.UTC(d.year,d.month-1,d.day),dailyFP[i].count]);
        }

        //Sort data by date
        dailyData.sort(function(a,b){return a[0] - b[0]});

        //Generate cumulative data
        var cumulativeData = [];
        var nbCounter = 0;
        for(var j=0; j<dailyData.length; j++) {
            nbCounter += dailyData[j][1];
            cumulativeData.push([dailyData[j][0], nbCounter]);
        }

        //Language graph
        var lang = {{ lang|safe }};
        var langTemp = {};
        for(var k=0; k<lang.length; k++){
            //We only consider the main primary language
            var name = (lang[k]._id =="Unspecified")? {{ _('Unspecified') | tojson }} : lang[k]._id.substring(0,2);
            if(langTemp.hasOwnProperty(name)){
                langTemp[name] += lang[k].count;
            } else {
                langTemp[name] = lang[k].count;
            }
        }
        var langData = [];
        Object.keys(langTemp).forEach(function (key) {
            langData.push({'name': key, 'y': langTemp[key]})
        });

        $(document).ready(function() {
            $('#daily').highcharts({
                chart: {
                    type: 'spline'
                },
                title: {
                    text: {{ _('Number of stored fingerprints') | tojson }}
                },
                xAxis: {
                    type: 'datetime',
                    title: {
                        text: {{ _('Date') | tojson }}
                    }
                },
                yAxis: {
                    title: {
                        text: {{ _('Number of fingerprints') | tojson }}
                    },
                    min: 0,
                    allowDecimals: false
                },
                tooltip: {
                    shared: true
                },

                plotOptions: {
                    spline: {
                        marker: {
                            enabled: true
                        }
                    }
                },
                series: [{
                    name: {{ _('Daily fingerprints') | tojson }},
                    data: dailyData
                },{
                    name: {{ _('Cumulative fingerprints') | tojson }},
                    data: cumulativeData
                }]
            });

            $('#lang').highcharts({
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false,
                    type: 'pie'
                },
                title: {
                    text: {{ _('Language distribution') | tojson }}
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b><br>{point.y} '+ {{ _('fingerprints') | tojson }}
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                            style: {
                                color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                            }
                        }
                    }
                },
                series: [{
                    name: {{ _('Language') | tojson }},
                    colorByPoint: true,
                    data: langData
                }]
            });

        });

    </script>

    <!-- Load the external libraries -->
    <script type="text/javascript" src="{{ url_for('static', filename="external/highcharts/highcharts.js") }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename="external/highcharts/highcharts-exporting.js") }}"></script>


    <!-- IntroJS tour instructions -->
    <script type="text/javascript">
        if (window.location.search.indexOf("multipage") > -1) {
            introJs().setOption('doneLabel', 'Continue the tour').start().oncomplete(function() {
                window.location.href = '/customStats?multipage';
            });
        }
    </script>

{% endblock %}
