{% extends "base.html" %}
{% set active_page = "globalStats" %}

{% block title %}
    Global statistics - FP Central
{% endblock %}

{% block content %}
    <h1>Global statistics</h1>
    <div>
        Lifetime: {{ totalFP }} fingerprints
        <br>
        Past 90 days: {{ epochFP }} fingerprints
   </div>


    <!--
    Graph on the evolution of collected fingerprints (single day + cumulative)
    Graph on the evolution of collected fingerprints per version?
    Pie chart on the distribution of browsers/tor browser version
    Have a button to switch between lifetime and 90 days stats
    Have a pie chart for language
    -->

    <br>
    <div id="daily" style="width:100%; height:500px;"></div>

    <script type="text/javascript">
        var dailyFP = {{ dailyFP|safe }};
        var dailyData = [];
        var cumulativeData = [];
        var nbCounter = 0;
        for(var i=0; i<dailyFP.length; i++){
            var d = dailyFP[i]._id;
            dailyData.push([Date.UTC(d.year,d.month-1,d.day),dailyFP[i].count]);
            nbCounter += dailyFP[i].count;
            cumulativeData.push([Date.UTC(d.year,d.month-1,d.day),nbCounter])
        }

        $(document).ready(function() {
            $('#daily').highcharts({
                chart: {
                    type: 'spline'
                },
                title: {
                    text: 'Number of stored fingerprints'
                },
                xAxis: {
                    type: 'datetime',
                    title: {
                        text: 'Date'
                    }
                },
                yAxis: {
                    title: {
                        text: 'Number of fingerprints'
                    },
                    min: 0,
                    allowDecimals: false
                },
                tooltip: {
                    headerFormat: '<b>{series.name}</b><br>',
                    pointFormat: '{point.x:%e. %b}: {point.y:.0f} fingerprints'
                },

                plotOptions: {
                    spline: {
                        marker: {
                            enabled: true
                        }
                    }
                },

                series: [{
                    name: 'Daily fingerprints',
                    data: dailyData
                },{
                    name: 'Cumulative fingerprints',
                    data: cumulativeData
                }]
            });
        });
    </script>

    <!-- Load the external libraries -->
    <script type="text/javascript" src="{{ url_for('static', filename="js/highcharts.js") }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename="js/highcharts-exporting.js") }}"></script>

{% endblock %}
